* {
    background-color: brown;
    color: gold;
    margin: 10px 50px 10px ;
    padding: center;
}
.navbar
{
    text-align: center;
    padding: center;
}
h1 {
    text-align: center;
}
.picmiddle img 
{
height: 800px;
width: auto;
padding: center;
}
.picmiddle
{
    text-align: center;
    padding: center;
}

#cnlogo{
height: auto;
width: auto;
text-align: center;
padding: center;
}
#acevideo{
    text-align: center;
    padding: center;
}

#recruitteam{
    height: auto;
    width: auto;
    text-align: center;
    padding: center;
    }

p {
    text-align: center;
    padding: center;
}
footer {
    text-align: center;
    padding: center;
}