* {
    margin: 0px 50px 0px ;
    padding: center;
}

p
{
    color: darkturquoise;
}
h1,h2,h3
{
    color: gold;
}

.backgroundcolour{
    background-color: rgb(12, 12, 116);
}
.opacity1
{
    background-color: rgba(0, 0, 0, 0.7);
    width: fit-content;

}
footer
{
    background-color: gold;
    padding: center;
    font-size: 25px;    
}
h1
{
font-size: 50px;
}

h2
{
font-size: 50px;
}

h3
{
font-size: 30px;
}
p
{
    font-size: 20px;
}

#unit1link, #unit2link
{
    color: gold;
    font-size: 30px;
}
#unit1
{
    border: 10px solid black;
    border-width: 10px;
    border-radius: 10px;
    }



#unit2
{
    border: 10px solid black;
    border-width: 10px;
    border-radius: 10px;
}

h1, h2, h3
{
    padding: center;
    border: 10px solid burlywood;
    border-collapse: collapse;
    padding: 10px;
}
h1, h2, h3, p
{
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 0px;
}
#cardstable table, th, td
{
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: center;
    border: 1px solid black;
    border-collapse: collapse;
    border-width: 2px;
    padding: 10px;
    color: gold
}

a{
    color: cornflowerblue;
}
.navbar
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    padding: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    width: fit-content;
}

.navfont {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1, .worklink, .assignment, #unit1 #unit2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    width: fit-content;
}
.picmiddle img 
{
height: 800px;
width: auto;
padding: center;
}
.picmiddle
{
    text-align: center;
    padding: center;
}

#cnlogo{
height: auto;
width: fit-content;
text-align: center;
padding: center;
background-color: powderblue;
margin: auto;
}
#acevideo{
    text-align: center;
    padding: center;
}

#recruitteam{
    height: auto;
    width: auto;
    text-align: center;
    padding: center;
    }

p {
    text-align: center;
    padding: center;
}
footer {
    background-color: saddlebrown;
    text-align: center;
    padding: center;
}

#personalpage
{
    background-image: url(images/Recruit.png);
    background-repeat: repeat;
    background-size: auto;
}